@import "tailwindcss";

.active{
    background-color: var(--color-white);
    color: var(--color-green-600);
}

section{
    height: 90vh;
    background-image: url('https://img.freepik.com/premium-vector/healthy-food-banner-design-with-hand-drawn-vegetables-with-copy-space-beige-background_642878-327.jpg');
    background-position:center center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;

}

.quote{
    position: absolute;
    top: 32%;
    left: 26%;
    font-size: 2.5rem;
}

.button_qt{
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: larger;
}

.circle{
    background-color: rgb(26, 190, 26);
}

.bro{
    font-size: 2rem;
}